{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
  {config, "config/shell-srv.config"},
  {apps, [ninjatrace]}
]}.

{project_plugins, [
  rebar3_lint
]}.

{relx, [{release, {ninjatrace, "1.0.0"},
  [
    ninjatrace,
    {ninjatrace_web, load}
  ]},
  {vm_args_src, "config/vm.args.src"},
  {dev_mode, true},
  {include_erts, false},
  {extended_start_script, true},
  {overlay, [
    {copy, "config/shell-srv.config", "bin/srv.config"},
    {copy, "config/shell-dev.config", "bin/dev.config"}
  ]}
]}.